* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(17, 17, 17, 0.904);
  color: aliceblue;
}
